

<div class="container border-1px  background-white" style="margin-top: 40px;">
  <div class="row  background-white" >
    <a href="/dashboard" class=" go-back mr-auto" style="margin-left: 10px;">  Go Back</a>
  </div>
  
  <h2 class="postTitle mt-5  background-white">Create new post</h2><hr>
  <form class="new-post-form  background-white">
  <div class="form-group">
    <label for="post-postTitle">Post postTitle:</label>
    <input type="text" class="form-control input" id="post-postTitle" name="post-postTitle" >
  </div>
  <div class="form-group">
    <label for="post-content">Post Content:</label>
    <input type="textarea" id="post-content" name="post-content" class="form-control textarea"  >
  </div>
  
    <div class="form-group">
  <button type="submit" class="btn btn-primary">Create Post</button>
  </div>
</form>
  
</div>
<script src="/javascript/add-post.js"></script>