<div class="container" style="margin-top: 50px;border:1px solid gray;  background-color:white;border-radius: 10px;margin-bottom:25px;box-shadow:1px 2px 0px 0px gray;">
<h2 class="postTitle pb-4"  style="background-color:white;">Login</h2><hr>
<form class="login-form" style="background-color:white;">
  <div class="form-group">
    <label for="email-login">Email</label>
    <input class="form-control"  type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input class="form-control"  type="password" id="password-login" />
  </div>
  <div  style="background-color:white;">
    <button type="submit" class="button is-primary" style="border:1px solid gray; ">Login</button>
    <a href="/signup"><button type="button" class=" button is-danger" style="border:1px solid gray; ">Create a new account</button></a>
  </div>
</form>
</div>





<!-- javascript file-->
<script src="/javascript/login.js"></script>